{{ with .Get "id" }}
    <iframe 
        src="//www.slideshare.net/slideshow/embed_code/key/{{ . }}"
        width="595" 
        height="485" 
        frameborder="0" 
        marginwidth="0" 
        marginheight="0" 
        scrolling="no" 
        style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" 
        allowfullscreen> 
    </iframe> 
    <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/Zurich_R_User_Group/rinfinancegabrielfoix" title="How to use R in different professions: R In Finance (Speaker: Gabriel Foix, Mirai Solutions)" target="_blank">How to use R in different professions: R In Finance (Speaker: Gabriel Foix, Mirai Solutions)</a> </strong> from <strong><a href="https://www.slideshare.net/Zurich_R_User_Group" target="_blank">Zurich_R_User_Group</a></strong> </div>
{{ end }}
<!--
{{ with .Get "id" }}
    <iframe
        src="//www.slideshare.net/slideshow/embed_code/key/{{ . }}"
        title="SlideShare Presentation"
        height="400"
        frameborder="0"
        marginwidth="0"
        marginheight="0"
        scrolling="no"
        style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 20px; width: 100%;"
        allowfullscreen="true">
    </iframe>
{{ end }}
-->
