<footer id="footer">
    <div class="container">

        {{ if isset .Site.Params "committee" }}
        {{ if .Site.Params.committee.enable_footer }}
        <div class="col-md-12 col-sm-6">
            <h4>Committee</h4>
            {{ if gt (len .Site.Data.committee) 0 }}
                {{ range $index, $element := sort .Site.Data.committee "weight" }}
                    {{ with $element }}
                    <a href="{{ .url }}" target="_blank">{{ .name }}</a> &nbsp; &nbsp; 
                    {{ end }}
                {{ end }}
            {{ end }}

        </div>
        {{ end }}
        {{ end }}
    </div>
</footer>

